.button {
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    border-radius: 5px;
    color: white;
    padding:  0.25rem 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #741188;
    border-color: #741188;
}

.button:active {
    background-color: #26012e;
    border-color: #26012e;
}

.buton:focus {
    outline: auto;
}